body {
	background-color: black;
	color: #DAA520;
	font-family: calibri, serif;
}

a:hover {
	text-decoration: none;
	color: #FCC200;
}

a:link {
	text-decoration: none;
	color: #FCC200;
}

a:visited {
	text-decoration: none;
	color: #FCC200;
}

#header {
	height: 100px;
	background-color: black;
	/* background-color: #990000; */
	font-size: 60px;
	font-family: calibri;
	color: #FCC200;
	/* color: #FFE800; */
	/* color: #FFCC00; */
	padding: 10px 0 5px 0;
	margin: 0 0 0 0;
	text-align: center;
	font-weight: bold;
}