body {
	background-color: #536895;
	color: black;
	font-family: calibri, serif;
	padding: 0;
	margin: 0;
	/*min-width: 1000px;*/
	position: absolute;
}

a:hover {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:link {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:visited {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}
	
#header {
	height: 100px;
	background: linear-gradient(to bottom, #A1B9ED, #FFFFFF);
	/* background-color: #990000; */
	border-bottom: 1px solid black;
	font-size: 60px;
	font-family: calibri;
	padding: 20px 0 5px 0;
	text-align: center;
	font-weight: bold;
	margin: 0 -41px 0 -41px;
}

#container {
	background-color: #FFFFFF;
	margin: 0 121px 0 121px;
	padding: 0 41px 41px 41px;
	/*min-width: 1025px;*/
}

table {
	position: relative;
	left: 11px;
}

th {
	font-size: 40px;
	padding-bottom: 10px;
}

.dynamic{
	height: 100px;
	width: 100px;
	background-color: #D9E4FA;
	border-radius: 6px;
	/* box-shadow: 0px 0px 5px #003091 */;
	text-align: center;
	display: inline-block;
	padding: 0 0 0 0;
}

.champid {
	height: 30px;
	padding-bottom: 10px;
	padding-top: 0px;
	background-color: white;
	vertical-align: top;
}

img {
	height: 100px;
	width: 100px;
	border-radius: 6px;
	box-shadow: 0px 0px 5px black;
}

#footer {
	height: 35px;
	background-color: white;
	margin: 5px 9% 10px 9%;
	padding: 12px 0 0 0;
	text-align: center;
}