body {
	background-color: #536895;
	color: black;
	font-family: calibri, serif;
	padding: 0;
	margin: 0;
	min-width: 1347px;
}

a:hover {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:link {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:visited {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}
	
#header {
	height: 100px;
	background: linear-gradient(to bottom, #A1B9ED, #FFFFFF);
	/* background-color: #990000; */
	border-bottom: 1px solid black;
	font-size: 60px;
	font-family: calibri;
	padding: 20px 0 5px 0;
	text-align: center;
	font-weight: bold;
	margin: 0 -41px 0 -41px;
}

#container {
	background-color: #FFFFFF;
	margin: 0 9% 0 9%;
	padding: 0 41px 41px 41px;
	height: 1000px;
	min-width: 1025px;
}

#champinfo {
margin: 40px 16px 0 16px;
}

#Tabs {
text-align: center;
}

#Tabs ul {
padding: 0px;
margin: 0px;
margin-left: 10px;
list-style-type: none;
}

#Tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

#Tabs ul li a {
position: relative;
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 0px;
background: #f6f6f6;
z-index: 9999;
border: 1px solid #ccc;
border-bottom: 0px;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 192px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

#Tabs ul li a:hover {
text-decoration: underline; 
cursor: pointer;
/* a very simple effect when hovering the mouse on tab */
}

#Tabs #Content_Area { 
/* this is the css class for the content displayed in each tab */
margin: 0 15px 0 16px;
padding: 0 15px 0 15px;
clear:both;
line-height:19px;
position: relative;
top: 20px;
z-index: 1;
height: 150px;
background: #f6f6f6;
border: 1px solid #ccc;
}

p { padding-left: 15px; }

#footer {
	height: 35px;
	background-color: white;
	margin: 5px 9% 10px 9%;
	padding: 12px 0 0 0;
	text-align: center;
}