body {
	background-color: #536895;
	color: black;
	font-family: calibri, serif;
	padding: 0;
	margin: 0;
	min-width: 1347px;
}

a:hover {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:link {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}

a:visited {
	text-decoration: none;
	color: black;
	/* color: #FCC200; */
}
	
#header {
	height: 100px;
	background: linear-gradient(to bottom, #A1B9ED, #FFFFFF);
	/* background-color: #990000; */
	border-bottom: 1px solid black;
	font-size: 60px;
	font-family: calibri;
	padding: 20px 0 5px 0;
	text-align: center;
	font-weight: bold;
	margin: 0 -41px 0 -41px;
}

#container {
	background-color: #FFFFFF;
	margin: 0 9% 0 9%;
	padding: 0 41px 41px 41px;
	height: 1000px;
	min-width: 1025px;
	box-shadow: 0px 0px 3px white;
}

#champinfo {
margin: 40px 16px 0 16px;
}

.tabs {
text-align: center;
}

.tabs ul {
padding: 0px;
margin: 0px;
margin-left: 10px;
list-style-type: none;
}

.tabs ul li {
display: inline-block;
clear: none;
float: left;
height: 24px;
}

.tabs ul li a {
position: relative;
margin-top: 16px;
display: block;
margin-left: 6px;
line-height: 24px;
padding-left: 0px;
padding-top: 7px;
padding-bottom: 7px;
background: #EDF1FA;
z-index: 9999;
border: 1px solid #ccc;
opacity: 0.5;

/* The following four lines are to make the top left and top right corners of each tab rounded. */
-moz-border-radius-topleft: 4px;
border-top-left-radius: 4px;
-moz-border-radius-topright: 4px;
border-top-right-radius: 4px;
/* end of rounded borders */

width: 192px;
color: #000000;
text-decoration: none;
font-weight: bold;
}

.tabs ul li a:hover {
cursor: pointer;
opacity: 0.6;
/* a very simple effect when hovering the mouse on tab */
}

.tabs ul li.active a {
	opacity: 1;
	border-bottom: 0px;
	line-height: 25px;
}

.tabs #Content_Area { 
/* this is the css class for the content displayed in each tab */
margin: 0 15px 0 16px;
padding: 0 15px 0 15px;
clear:both;
line-height:19px;
position: relative;
top: 31px;
z-index: 1;
height: 650px;
background: #EDF1FA;
border: 1px solid #ccc;
box-shadow: 0px 0px 1px #ccc;
}

#tab1 table {
  margin: 50px auto;
	width: 900px;
}

#tab1 table tr th {
	font-size: 25px;
	width: 300px;
}

#tab1 table tr td {
	text-align: center;
	font-size: 17px;
}

.bonusStats p {
	color: green;
}

#tab5 table {
  margin: 50px auto;
	width: 900px;
}

#itemResetButton {
	padding: 10px 0 10px 0;
	width: 100px;
	position: relative;
	left: 430px;
	background-color: #BACFFF;
	border-radius: 5px;
}

#itemResetButton:hover {
	cursor: pointer;
}

#footer {
	height: 35px;
	background-color: white;
	margin: 5px 9% 10px 9%;
	padding: 12px 0 0 0;
	text-align: center;
	box-shadow: 0px 0px 3px white;
}